body {
    font-family: sans-serif;
}

header{
    background: #87CEEB;
    border: black solid 5px;
    margin: 2px;
    border-radius: 10px;
}

h1{
    color: #9932CC;
    text-align: center; 
}

footer {
    background-color: pink;
    padding: 10px;
}

footer p {
    background-color: white;
    padding: 5px;
}

nav {
    background-color: green;
 
}

nav a {
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

p {
    background-color: #00FF7F;
}

h2 {
color: blue;

}
